<div class="container-fluid">
    <div class="row">
        <div class="col"><h5><%= @meeting.date.strftime("%A %B %C") %></h5></div>
    </div>
    <div class="row">
        <div class="col"><h6><%= @meeting.home_team %>: </h6></div>
        <div class="col"><h6><%= @meeting.home_score %></h6></div>
        <div class="col"><h6><%= @meeting.away_team %>: </h6></div>
        <div class="col"><h6><%= @meeting.away_score %></h6></div>
        <div class="col"><%= button_to "Add heat", new_heat_path, params: {:meeting_id => @meeting.id}, method: :get %></div>
        
    </div>
    <% @meeting.heats.each do |heat| %>
    <div class="row">
        <div class="col"><%= heat.heat_number %></div>
        <div class="col"><%= heat.heat_time %></div>
        <div class="col">Heat ID: <%= heat.id %></div>
        <div class="col"><%= button_to 'Edit', edit_heat_path(heat.id), method: :get %></div>
    </div>
    <div class="row">
        <% heat.blues.each do |blue| %>
            <div class="col"><%= blue.rider_name %> : <%= blue.score %></div>
        <%end %>
        <% heat.reds.each do |red| %>
            <div class="col"><%= red.rider_name %> : <%= red.score %></div>
        <%end %>
        <% heat.whites.each do |white| %>
            <div class="col"><%= white.rider_name %> : <%= white.score %></div>
        <%end %>
        <% heat.yellows.each do |yellow| %>
            <div class="col"><%= yellow.rider_name %> : <%= yellow.score %></div>
        <%end %>
    </div>
    <p></p>
    <% end %>
</div>




