<h3>Show meeting</h3>
<div><%= @meeting.date.strftime("%A %B %C") %></div>
<div><%= @meeting.home_team %>: <%= @meeting.home_score %></div>
<div><%= @meeting.away_team %>: <%= @meeting.away_score %></div>

