<div class="container-fluid">
    <div class="row">
        <div class="col"><h5><%= @meeting.date.strftime("%A %B %C") %></h5></div>
    </div>
    <div class="row">
        <div class="col"><h6><%= @meeting.home_team %>: </h6></div>
        <div class="col"><h6><%= @meeting.home_score %></h6></div>
        <div class="col"><h6><%= @meeting.away_team %>: </h6></div>
        <div class="col"><h6><%= @meeting.away_score %></h6></div>
        <div class="col"><%= button_to 'Add heat', new_meeting_heat_path(meeting_id: @meeting.id), method: :get %></div>
    </div>
</div>




